<!-- navbar.html -->
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Mi página</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/products">Productos</a></li>
            <li><a href="/">Usuarios</a></li>
            <li><a href="/tiendas">Tiendas</a></li>
            <li><a href="/vehiculos">Vehiculos</a></li>
            <li><a href="/celulares">Celulares</a></li>
            <li><a href="/empleados">Empleados</a></li>
        </ul>
    </div>
</nav>